*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.left{
    height: 20rem;
    width: 15rem;
    border: 2px dashed white;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right{
    height: 20rem;
    width: 15rem;
    border: 2px dashed white;
     flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 3rem;
    width: 13rem;
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: grabbing;
    border-radius: 3px;
}