*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}

.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#FFFBBD,#E6AA68);
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 400px;
    background-color: white;
    margin: 40px auto 70px;
    padding: 20px 20px 25px;
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.to-do-app h1{
    text-align: center;
    margin: 0 0 10px;
}

.to-do-app h1 i{
    margin-left: 10px;
    color: #CA3C25;
}
.add-my-task{
    height: 2.5rem;
    /* background-color: aqua; */
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 2rem;
}
.add-my-task input{
    height: 100%;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.6rem;
    border: none;
    outline: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.add-my-task button{
    height: 100%;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    background-color: #E6AA68;
    color: white;
}
.add-my-task button:hover{
    background-color: #ff9f38;
    cursor: pointer;
}
.list-container{
    min-height: 0vh;
    width: 100%;
    /* border: 1px solid seagreen; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}

.todo-task{
    margin-top: 15px;
    height: 3rem;
    width: 90%;
    background-color: #FFFBBD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.input-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trash{
    position: absolute;
    right: 8px;
}

.trash:hover{
    cursor: pointer;
}
.todo-task:hover{
    background-color: #CA3C25;
    color: white;
}

.line{
    text-decoration: line-through;
}