*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
}


.container{
    height: 100vh;
    width: 100vw;
    display: flow-root;
    background-color: turquoise;
}

.box{
    height: 370px;
    width: 350px;
    border: none;
    border-radius: 12px;
    background-color: lightcoral;
    box-shadow: 0px 3px 3px grey;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    margin: 6rem auto;
}

button{
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 0px 2px 1px lightgray;
    background-color: lightskyblue;
    cursor: pointer;
}

button:active{
    box-shadow: none;
}



#birthDate{
    padding: 9px;
    outline: orange;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
}

#currentDate{
    padding: 9px;
    outline: orange;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
}

.show{
    border-radius: 6px;
    padding: 12px;
    border: none;
    background-color: rgb(117, 117, 255);
    color: rgb(116, 253, 116);
}